idea/
__pycache__/
helios/__pycache__/
venv/
api/__pycache__/
helios/api/__pycache__/
data_input.py/__pycache__/
excel/__pycache__/
helios/excel/__pycache__/
report/__pycache__/
helios/report/__pycache__/
excel/otchet_po_otsutstviyu.xlsx
.DS_Store
.idea/