{% with arena_fio=arena_fio %}
                {% include "menu.html" %}
            {% endwith %}

{% block content %}


<table>
    <tbody>
    {% for ID_GRF,NROOM,NOTD,NSPZ,NDOC,DAY1,DAY2,DAY3,DAY4,DAY5,DAY6,DAY7,DAY8,DAY9,DAY10,DAY11,DAY12,DAY13,DAY14,DAY15,DAY16,DAY17,DAY18,DAY19,DAY20,DAY21,DAY22,DAY23,DAY24,DAY25,DAY26,DAY27,DAY28,DAY29,DAY30,DAY31 in table_view_all %}
    <tr>
<td>{{ NROOM }}</td>
<td>{{ NOTD }}</td>
<td>{{ NSPZ }}</td>
<td>{{ NDOC }}</td>
<td><form id="td01{{ID_GRF}}"><div name="id_grf01" value="01{{ID_GRF}}" hx-target="#td01{{ID_GRF}}" hx-swap="outerHTML" hx-get="table_view/edit">{{ DAY1 }}</div></form></td>
<td><form id="td02{{ID_GRF}}"><div name="id_grf02" value="02{{ID_GRF}}" hx-target="#td02{{ID_GRF}}" hx-swap="outerHTML" hx-get="table_view/edit">{{ DAY3 }}</div></form></td>
<td><form id="td03{{ID_GRF}}"><div name="id_grf03" value="03{{ID_GRF}}" hx-target="#td03{{ID_GRF}}" hx-swap="outerHTML" hx-get="table_view/edit">{{ DAY2 }}</div></form></td>
<td><form id="td04{{ID_GRF}}"><div name="id_grf04" value="04{{ID_GRF}}" hx-target="#td04{{ID_GRF}}" hx-swap="outerHTML" hx-get="table_view/edit">{{ DAY4 }}</div></form></td>
<td><form id="td05{{ID_GRF}}"><div name="id_grf05" value="05{{ID_GRF}}" hx-target="#td05{{ID_GRF}}" hx-swap="outerHTML" hx-get="table_view/edit">{{ DAY5 }}</div></form></td>
<td><form id="td06{{ID_GRF}}"><div name="id_grf06" value="06{{ID_GRF}}" hx-target="#td06{{ID_GRF}}" hx-swap="outerHTML" hx-get="table_view/edit">{{ DAY6 }}</div></form></td>
<td><form id="td07{{ID_GRF}}"><div name="id_grf07" value="07{{ID_GRF}}" hx-target="#td07{{ID_GRF}}" hx-swap="outerHTML" hx-get="table_view/edit">{{ DAY7 }}</div></form></td>
<td><form id="td08{{ID_GRF}}"><div name="id_grf08" value="08{{ID_GRF}}" hx-target="#td08{{ID_GRF}}" hx-swap="outerHTML" hx-get="table_view/edit">{{ DAY8 }}</div></form></td>
<td><form id="td09{{ID_GRF}}"><div name="id_grf09" value="09{{ID_GRF}}" hx-target="#td09{{ID_GRF}}" hx-swap="outerHTML" hx-get="table_view/edit">{{ DAY9 }}</div></form></td>
<td><form id="td10{{ID_GRF}}"><div name="id_grf10" value="10{{ID_GRF}}" hx-target="#td10{{ID_GRF}}" hx-swap="outerHTML" hx-get="table_view/edit">{{ DAY10 }}</div></form></td>
<td><form id="td11{{ID_GRF}}"><div name="id_grf11" value="11{{ID_GRF}}" hx-target="#td11{{ID_GRF}}" hx-swap="outerHTML" hx-get="table_view/edit">{{ DAY11 }}</div></form></td>
<td><form id="td12{{ID_GRF}}"><div name="id_grf12" value="12{{ID_GRF}}" hx-target="#td12{{ID_GRF}}" hx-swap="outerHTML" hx-get="table_view/edit">{{ DAY12 }}</div></form></td>
<td><form id="td13{{ID_GRF}}"><div name="id_grf13" value="13{{ID_GRF}}" hx-target="#td13{{ID_GRF}}" hx-swap="outerHTML" hx-get="table_view/edit">{{ DAY13 }}</div></form></td>
<td><form id="td14{{ID_GRF}}"><div name="id_grf14" value="14{{ID_GRF}}" hx-target="#td14{{ID_GRF}}" hx-swap="outerHTML" hx-get="table_view/edit">{{ DAY14 }}</div></form></td>
<td><form id="td15{{ID_GRF}}"><div name="id_grf15" value="15{{ID_GRF}}" hx-target="#td15{{ID_GRF}}" hx-swap="outerHTML" hx-get="table_view/edit">{{ DAY15 }}</div></form></td>
<td><form id="td16{{ID_GRF}}"><div name="id_grf16" value="16{{ID_GRF}}" hx-target="#td16{{ID_GRF}}" hx-swap="outerHTML" hx-get="table_view/edit">{{ DAY16 }}</div></form></td>
<td><form id="td17{{ID_GRF}}"><div name="id_grf17" value="17{{ID_GRF}}" hx-target="#td17{{ID_GRF}}" hx-swap="outerHTML" hx-get="table_view/edit">{{ DAY17 }}</div></form></td>
<td><form id="td18{{ID_GRF}}"><div name="id_grf18" value="18{{ID_GRF}}" hx-target="#td18{{ID_GRF}}" hx-swap="outerHTML" hx-get="table_view/edit">{{ DAY18 }}</div></form></td>
<td><form id="td19{{ID_GRF}}"><div name="id_grf19" value="19{{ID_GRF}}" hx-target="#td19{{ID_GRF}}" hx-swap="outerHTML" hx-get="table_view/edit">{{ DAY19 }}</div></form></td>
<td><form id="td20{{ID_GRF}}"><div name="id_grf20" value="20{{ID_GRF}}" hx-target="#td20{{ID_GRF}}" hx-swap="outerHTML" hx-get="table_view/edit">{{ DAY20 }}</div></form></td>
<td><form id="td21{{ID_GRF}}"><div name="id_grf21" value="21{{ID_GRF}}" hx-target="#td21{{ID_GRF}}" hx-swap="outerHTML" hx-get="table_view/edit">{{ DAY21 }}</div></form></td>
<td><form id="td22{{ID_GRF}}"><div name="id_grf22" value="22{{ID_GRF}}" hx-target="#td22{{ID_GRF}}" hx-swap="outerHTML" hx-get="table_view/edit">{{ DAY22 }}</div></form></td>
<td><form id="td23{{ID_GRF}}"><div name="id_grf23" value="23{{ID_GRF}}" hx-target="#td23{{ID_GRF}}" hx-swap="outerHTML" hx-get="table_view/edit">{{ DAY23 }}</div></form></td>
<td><form id="td24{{ID_GRF}}"><div name="id_grf24" value="24{{ID_GRF}}" hx-target="#td24{{ID_GRF}}" hx-swap="outerHTML" hx-get="table_view/edit">{{ DAY24 }}</div></form></td>
<td><form id="td25{{ID_GRF}}"><div name="id_grf25" value="25{{ID_GRF}}" hx-target="#td25{{ID_GRF}}" hx-swap="outerHTML" hx-get="table_view/edit">{{ DAY25 }}</div></form></td>
<td><form id="td26{{ID_GRF}}"><div name="id_grf26" value="26{{ID_GRF}}" hx-target="#td26{{ID_GRF}}" hx-swap="outerHTML" hx-get="table_view/edit">{{ DAY26 }}</div></form></td>
<td><form id="td27{{ID_GRF}}"><div name="id_grf27" value="27{{ID_GRF}}" hx-target="#td27{{ID_GRF}}" hx-swap="outerHTML" hx-get="table_view/edit">{{ DAY27 }}</div></form></td>
<td><form id="td28{{ID_GRF}}"><div name="id_grf28" value="28{{ID_GRF}}" hx-target="#td28{{ID_GRF}}" hx-swap="outerHTML" hx-get="table_view/edit">{{ DAY28 }}</div></form></td>
<td><form id="td29{{ID_GRF}}"><div name="id_grf29" value="29{{ID_GRF}}" hx-target="#td29{{ID_GRF}}" hx-swap="outerHTML" hx-get="table_view/edit">{{ DAY29 }}</div></form></td>
<td><form id="td30{{ID_GRF}}"><div name="id_grf30" value="30{{ID_GRF}}" hx-target="#td30{{ID_GRF}}" hx-swap="outerHTML" hx-get="table_view/edit">{{ DAY30 }}</div></form></td>
<td><form id="td31{{ID_GRF}}"><div name="id_grf31" value="31{{ID_GRF}}" hx-target="#td31{{ID_GRF}}" hx-swap="outerHTML" hx-get="table_view/edit">{{ DAY31 }}</div></form></td>
    </tr>
    {% endfor %}
</tbody>
</table>

{% endblock %}