{% with arena_fio=arena_fio %}
                {% include "menu.html" %}
            {% endwith %}

{% block content %}


<table>
    <tbody>
    {% for ID_GRF,NROOM,NOTD,NSPZ,NDOC,DAY1,DAY2,DAY3,DAY4,DAY5,DAY6,DAY7,DAY8,DAY9,DAY10,DAY11,DAY12,DAY13,DAY14,DAY15,DAY16,DAY17,DAY18,DAY19,DAY20,DAY21,DAY22,DAY23,DAY24,DAY25,DAY26,DAY27,DAY28,DAY29,DAY30,DAY31 in table_view_all %}
    <tr>
<td>{{ NROOM }}</td>
<td>{{ NOTD }}</td>
<td>{{ NSPZ }}</td>
<td>{{ NDOC }}</td>
<td><form id="td{{ID_GRF}}"><div name="id_grf" value="{{ID_GRF}}" hx-target="#td{{ID_GRF}}" hx-swap="outerHTML" hx-get="table_view/edit">{{ DAY1 }}</div></form></td>
<td><form id="td{{ID_GRF}}"><div name="id_grf" value="{{ID_GRF}}" hx-target="#td{{ID_GRF}}" hx-swap="outerHTML" hx-get="table_view/edit">{{ DAY3 }}</div></form></td>
<td><form id="td{{ID_GRF}}"><div name="id_grf" value="{{ID_GRF}}" hx-target="#td{{ID_GRF}}" hx-swap="outerHTML" hx-get="table_view/edit">{{ DAY2 }}</div></form></td>
<td><form id="td{{ID_GRF}}"><div name="id_grf" value="{{ID_GRF}}" hx-target="#td{{ID_GRF}}" hx-swap="outerHTML" hx-get="table_view/edit">{{ DAY4 }}</div></form></td>
<td><form id="td{{ID_GRF}}"><div name="id_grf" value="{{ID_GRF}}" hx-target="#td{{ID_GRF}}" hx-swap="outerHTML" hx-get="table_view/edit">{{ DAY5 }}</div></form></td>
<td><form id="td{{ID_GRF}}"><div name="id_grf" value="{{ID_GRF}}" hx-target="#td{{ID_GRF}}" hx-swap="outerHTML" hx-get="table_view/edit">{{ DAY6 }}</div></form></td>
<td><form id="td{{ID_GRF}}"><div name="id_grf" value="{{ID_GRF}}" hx-target="#td{{ID_GRF}}" hx-swap="outerHTML" hx-get="table_view/edit">{{ DAY7 }}</div></form></td>
<td><form id="td{{ID_GRF}}"><div name="id_grf" value="{{ID_GRF}}" hx-target="#td{{ID_GRF}}" hx-swap="outerHTML" hx-get="table_view/edit">{{ DAY8 }}</div></form></td>
<td><form id="td{{ID_GRF}}"><div name="id_grf" value="{{ID_GRF}}" hx-target="#td{{ID_GRF}}" hx-swap="outerHTML" hx-get="table_view/edit">{{ DAY9 }}</div></form></td>
<td><form id="td{{ID_GRF}}"><div name="id_grf" value="{{ID_GRF}}" hx-target="#td{{ID_GRF}}" hx-swap="outerHTML" hx-get="table_view/edit">{{ DAY10 }}</div></form></td>
<td><form id="td{{ID_GRF}}"><div name="id_grf" value="{{ID_GRF}}" hx-target="#td{{ID_GRF}}" hx-swap="outerHTML" hx-get="table_view/edit">{{ DAY11 }}</div></form></td>
<td><form id="td{{ID_GRF}}"><div name="id_grf" value="{{ID_GRF}}" hx-target="#td{{ID_GRF}}" hx-swap="outerHTML" hx-get="table_view/edit">{{ DAY12 }}</div></form></td>
<td><form id="td{{ID_GRF}}"><div name="id_grf" value="{{ID_GRF}}" hx-target="#td{{ID_GRF}}" hx-swap="outerHTML" hx-get="table_view/edit">{{ DAY13 }}</div></form></td>
<td><form id="td{{ID_GRF}}"><div name="id_grf" value="{{ID_GRF}}" hx-target="#td{{ID_GRF}}" hx-swap="outerHTML" hx-get="table_view/edit">{{ DAY14 }}</div></form></td>
<td><form id="td{{ID_GRF}}"><div name="id_grf" value="{{ID_GRF}}" hx-target="#td{{ID_GRF}}" hx-swap="outerHTML" hx-get="table_view/edit">{{ DAY15 }}</div></form></td>
<td><form id="td{{ID_GRF}}"><div name="id_grf" value="{{ID_GRF}}" hx-target="#td{{ID_GRF}}" hx-swap="outerHTML" hx-get="table_view/edit">{{ DAY16 }}</div></form></td>
<td><form id="td{{ID_GRF}}"><div name="id_grf" value="{{ID_GRF}}" hx-target="#td{{ID_GRF}}" hx-swap="outerHTML" hx-get="table_view/edit">{{ DAY17 }}</div></form></td>
<td><form id="td{{ID_GRF}}"><div name="id_grf" value="{{ID_GRF}}" hx-target="#td{{ID_GRF}}" hx-swap="outerHTML" hx-get="table_view/edit">{{ DAY18 }}</div></form></td>
<td><form id="td{{ID_GRF}}"><div name="id_grf" value="{{ID_GRF}}" hx-target="#td{{ID_GRF}}" hx-swap="outerHTML" hx-get="table_view/edit">{{ DAY19 }}</div></form></td>
<td><form id="td{{ID_GRF}}"><div name="id_grf" value="{{ID_GRF}}" hx-target="#td{{ID_GRF}}" hx-swap="outerHTML" hx-get="table_view/edit">{{ DAY20 }}</div></form></td>
<td><form id="td{{ID_GRF}}"><div name="id_grf" value="{{ID_GRF}}" hx-target="#td{{ID_GRF}}" hx-swap="outerHTML" hx-get="table_view/edit">{{ DAY21 }}</div></form></td>
<td><form id="td{{ID_GRF}}"><div name="id_grf" value="{{ID_GRF}}" hx-target="#td{{ID_GRF}}" hx-swap="outerHTML" hx-get="table_view/edit">{{ DAY22 }}</div></form></td>
<td><form id="td{{ID_GRF}}"><div name="id_grf" value="{{ID_GRF}}" hx-target="#td{{ID_GRF}}" hx-swap="outerHTML" hx-get="table_view/edit">{{ DAY23 }}</div></form></td>
<td><form id="td{{ID_GRF}}"><div name="id_grf" value="{{ID_GRF}}" hx-target="#td{{ID_GRF}}" hx-swap="outerHTML" hx-get="table_view/edit">{{ DAY24 }}</div></form></td>
<td><form id="td{{ID_GRF}}"><div name="id_grf" value="{{ID_GRF}}" hx-target="#td{{ID_GRF}}" hx-swap="outerHTML" hx-get="table_view/edit">{{ DAY25 }}</div></form></td>
<td><form id="td{{ID_GRF}}"><div name="id_grf" value="{{ID_GRF}}" hx-target="#td{{ID_GRF}}" hx-swap="outerHTML" hx-get="table_view/edit">{{ DAY26 }}</div></form></td>
<td><form id="td{{ID_GRF}}"><div name="id_grf" value="{{ID_GRF}}" hx-target="#td{{ID_GRF}}" hx-swap="outerHTML" hx-get="table_view/edit">{{ DAY27 }}</div></form></td>
<td><form id="td{{ID_GRF}}"><div name="id_grf" value="{{ID_GRF}}" hx-target="#td{{ID_GRF}}" hx-swap="outerHTML" hx-get="table_view/edit">{{ DAY28 }}</div></form></td>
<td><form id="td{{ID_GRF}}"><div name="id_grf" value="{{ID_GRF}}" hx-target="#td{{ID_GRF}}" hx-swap="outerHTML" hx-get="table_view/edit">{{ DAY29 }}</div></form></td>
<td><form id="td{{ID_GRF}}"><div name="id_grf" value="{{ID_GRF}}" hx-target="#td{{ID_GRF}}" hx-swap="outerHTML" hx-get="table_view/edit">{{ DAY30 }}</div></form></td>
<td><form id="td{{ID_GRF}}"><div name="id_grf" value="{{ID_GRF}}" hx-target="#td{{ID_GRF}}" hx-swap="outerHTML" hx-get="table_view/edit">{{ DAY31 }}</div></form></td>
    </tr>
    {% endfor %}
</tbody>
</table>

{% endblock %}