<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!DOCTYPE html>
<html lang="en">
    <title>Авторизация</title>

<div class="container">
        <div class="row justify-content-center">
            <div class="col-6 text-center align-middle">
                <form style="max-width: 500px;" method="post">
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

<label for="inputLogin" class="form-label">Имя пользователя:</label>
                   <input type="text" class="form-control" id="inputLogin" name="username" placeholder="Имя пользователя" aria-label="Имя пользователя">
                <br>
                  <label for="inputPassword" class="form-label">Пароль:</label>
                  <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Пароль" aria-label="Пароль">
                            <br>
                    <button type="button submit" class="btn btn-primary">Войти</button>
                </form>
            </div>
        </div>
    </div>

</body>
</html>