{% extends 'basic.html' %} {% block head %}


<head>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/menu">Главная</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/data_input">Сотрудники</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/report">Отчеты</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="/excel" tabindex="-1" aria-disabled="true">Excel</a>
        </li>
    </ul>

    {% endblock %}