{% extends 'basic.html' %} {% block head %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Переключатель навигации">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link text-primary" href="/menu">Главная</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-primary" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Сотрудники</a>
          <div class="dropdown-menu">
            <a class="dropdown-item text-primary" href="/data_input/wtf_template3">График работы</a>
          </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-primary" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Отчеты</a>
            <div class="dropdown-menu">
              <a class="dropdown-item text-primary" href="/report">Отчет по отсутствующим</a>
            </div>
          </li>
      </ul> 
      <form class="form-inline my-2 my-lg-0">
          <label >{{arena_fio}}</label>
        <a href="/" class="btn btn-secondary" role="button"> Выход</a>
      </form>
    </div>
  </nav>
    {% endblock %}