{% with arena_fio=arena_fio, arena_user=arena_user, auth_group=auth_group %}
                {% include "menu.html" %}
            {% endwith %}

{% block content %}


    <meta charset="UTF-8">
    <title>Отчет по отсутствующим</title>
</head>
<div class="content">
<body>

    <form method="POST">
        <div class="container">
        <div class="row">

            <div class="col-md-auto">

                    <label for="datepicker" class="form-label">Дата начала</label>
                    <input type="date" value="{{ dtn_get }}" name="dtn_get" />

            </div>
            <div class="col-md-auto">

                    <label for="datepicker2" class="form-label">Окончание</label>
                    <input type="date" value="{{ dtk_get }}" name="dtk_get" />
            </div>
            <div class="col-md-auto">
                    <button type="button submit" name="btn" value="selectNew" class="btn btn-primary">Сформировать</button>
            </div>

            <div class="col-md-auto">
                    <button type="submit" class="btn btn-primary" name="btn" value="saveToPdf">Выгрузить в Excel</button>
            </div>
  
        </div>
    </div>
</form>

<table id="myTable" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Отделение</th>
            <th>ФИО</th>
            <th>Причина</th>
            <th>Отстутствует с</th>
            <th>Отсутствует по</th>
        </tr>
        <tr>
            <th>
                <input name="otd_filter" list="datalistOptions" class="form-control" id="myInputOtd" placeholder="Поиск по отделению" autocomplete="off">         
            </th>
            <th>
                <input name="fil_filter" list="datalistOptions" class="form-control" id="myInput" placeholder="Пишите для поиска по ФИО" autocomplete="off">
            </th>
            <th>
                <input name="reason_filter" list="datalistOptions" class="form-control" id="myInputReason" placeholder="Поиск по причине" autocomplete="off"> 
                </th>
                <th>
                </th>
                    <th>
                    </th>
            </tr>
    </thead>
    <tbody>


        {% for SNLPU, NDOC, NRSN, DTN, DTK in my_list %}
        <tr>
            <td>{{ SNLPU }}</td>
            <td>{{ NDOC }}</td>
            <td>{{ NRSN or ""}}</td>
            <td>{{ DTN.strftime('%d.%m.%Y') }}</td>
            <td>{{ DTK.strftime('%d.%m.%Y') }}</td>
        </tr>
        {% endfor %}
        <tfoot>
            <tr>
                <th>Отделение</th>
                <th>ФИО</th>
                <th>Причина</th>
                <th>Отстутствует с</th>
                <th>Отсутствует по</th>
            </tr>
        </tfoot>
</table>
</div>
</body>

</html>
<script>
    function filterTable(event) {
        var filter = event.target.value.toUpperCase();
        var rows = document.querySelector("#myTable tbody").rows;

        for (var i = 0; i < rows.length; i++) {
            var secondCol = rows[i].cells[1].textContent.toUpperCase();
            if (secondCol.indexOf(filter) > -1) {
                rows[i].style.display = "";
            } else {
                rows[i].style.display = "none";
            }
        }
    }

    document.querySelector('#myInput').addEventListener('keyup', filterTable, false);


    function filterTable2(event) {
        var filter = event.target.value.toUpperCase();
        var rows = document.querySelector("#myTable tbody").rows;

        for (var i = 0; i < rows.length; i++) {
            var firstCol = rows[i].cells[0].textContent.toUpperCase();
            if (firstCol.indexOf(filter) > -1) {
                rows[i].style.display = "";
            } else {
                rows[i].style.display = "none";
            }
        }
    }

    document.querySelector('#myInputOtd').addEventListener('keyup', filterTable2, false);



    function filterTable3(event) {
        var filter = event.target.value.toUpperCase();
        var rows = document.querySelector("#myTable tbody").rows;

        for (var i = 0; i < rows.length; i++) {
            var thirdCol = rows[i].cells[2].textContent.toUpperCase();
            if (thirdCol.indexOf(filter) > -1) {
                rows[i].style.display = "";
            } else {
                rows[i].style.display = "none";
            }
        }
    }

    document.querySelector('#myInputReason').addEventListener('keyup', filterTable3, false);

</script>

<!-- <script>
    function filterTable(event) {
        var filter = event.target.value.toUpperCase();
        var rows = document.querySelector("#myTable tbody").rows;

        for (var i = 0; i < rows.length; i++) {
            var firstCol = rows[i].cells[0].textContent.toUpperCase();
            var secondCol = rows[i].cells[1].textContent.toUpperCase();
            if (firstCol.indexOf(filter) > -1 || secondCol.indexOf(filter) > -1) {
                rows[i].style.display = "";
            } else {
                rows[i].style.display = "none";
            }
        }
    }

    document.querySelector('#myInput').addEventListener('keyup', filterTable, false);
</script> -->

{% endblock %}