{% extends 'menu.html' %}
{% block content %}


<head>
    <meta charset="UTF-8">
    <title>Отчет по отсутствующим</title>
</head>
<body>
    <form action="" method="post">
        <table>
            <tr>
            <td>

	    <label for="datepicker" class="form-label">Дата начала</label>
       <input type="date" value="{{ dtn }}" name="dtn" />

                </td>
                <td>

	    <label for="datepicker2" class="form-label">Окончание</label>
       <input type="date" value="{{ dtk }}" name="dtk" />
                </td>
                <td>
                    		<button type="button submit" class="btn btn-primary">Сформировать</button>
                </td>
                <td>
{#                    <label for="exampleDataList" class="form-label">Datalist example</label>#}
<input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Пишите для поиска...">
<datalist id="datalistOptions">
  <option value="San Francisco">
  <option value="New York">
  <option value="Seattle">
  <option value="Los Angeles">
  <option value="Chicago">
</datalist>
                </td>
            </tr>
            </table>
    </form>
</body>
</html>
<table id="myTable" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Отделение</th>
                <th>ФИО</th>
                <th>Причина</th>
                <th>Отстутствует с</th>
                <th>Отсутствует по</th>
            </tr>
        </thead>
        <tbody>



        {% for SNLPU, NDOC, NRSN, DTN, DTK in my_list %}
            <tr>
                <td>{{ SNLPU }}</td>
                <td>{{ NDOC }}</td>
                <td>{{ NRSN }}</td>
                <td>{{ DTN }}</td>
                <td>{{ DTK }}</td>
            </tr>
        {% endfor %}
 <tfoot>
            <tr>
                <th>Отделение</th>
                <th>ФИО</th>
                <th>Причина</th>
                <th>Отстутствует с</th>
                <th>Отсутствует по</th>
            </tr>
        </tfoot>
    </table>

    <script>
$(document).on('input', '#filter_keyword', function(event){
    var kw=$(this).val();
    $('#all_keywords > option').each(function() {
        if ( kw.length > 0 && this.text.replace(kw, '') == this.text )
        {
            $(this).hide();
        } else {
            $(this).show();
        }
    });
});
    </script>

{% endblock %}