{% extends 'menu.html' %}
{% block content %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}

{#<body>#}
{#ОКНО ДЛЯ РЕДАКТИРОВАНИИ ИНФОРМАЦИИ РЕЖИМА РАБОТЫ СОТРУДНИКА#}
<form method="post">
{% for NROOM_KR, NOEVEN_DAY, EVEN_DAY, NTV, NLIST, NSPZ in result_rasp %}
 <div class="modal fade" id="RegimeWorkModal" tabindex="-1" role="dialog" aria-labelledby="RegimeWorkModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Режим работы сотрудника</h5>
        <input type="text" name="RegimeWork" value="{{ doc }}" class="col-form-label" style="display: none;">
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
       <div class="modal-body">
        <form>
          <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelectUpdRsn" >№ Кабинета:</label>
            <select class="form-select" id="inputGroupSelectUpdRoom" name="UpdRoom" value={{ id }} required>
              {% for id, nroom_kr in result_room %}
                <option value="{{ id }}"{% if loop.first %} SELECTED{% endif %}>{{ nroom_kr or ""}} </option>
              {% endfor %}
              <option selected>{{ NROOM_KR }}</option>
            </select>
          </div>

          <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelectUpdRsn" >Не четное:</label>
            <select class="form-select" id="inputGroupSelectUpdNoEvenDay" name="UpdNoEvenDay" value={{ ID }} required>
              {% for ID, INTEVAL_TIME in result_time %}
                <option value="{{ ID }}"{% if loop.first %} SELECTED{% endif %}>{{ INTEVAL_TIME or ""}} </option>
              {% endfor %}
              <option selected>{{ NOEVEN_DAY }}</option>
            </select>
          </div>

         <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelectUpdRsn" >Четное:</label>
            <select class="form-select" id="inputGroupSelectUpdEvenDay" name="UpdEvenDay" value={{ ID }} required>
              {% for ID, INTEVAL_TIME in result_time %}
                <option value="{{ ID }}"{% if loop.first %} SELECTED{% endif %}>{{ INTEVAL_TIME or ""}} </option>
              {% endfor %}
              <option selected>{{ EVEN_DAY }}</option>
            </select>
          </div>

          <div class="mb-3">
            <label class="col-form-label">№ Монитора:</label>
<!--              for="recipient-name"-->
            <input type="number" class="form-control" value={{ NTV }} name="UpdNtv">
          </div>

          <div class="mb-3">
            <label class="col-form-label">№ страницы:</label>
<!--             for="recipient-name"  -->
            <input type="number" class="form-control" value={{ NLIST }} name="UpdNlist" value={{ spz }} required>
          </div>

          <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelectUpdSpz" >Специальность:</label>
            <select class="form-select" id="inputGroupSelectUpdSpz" name="UpdSpz">
              {% for spz, nspz in result_spz %}
                <option value="{{ spz }}"{% if loop.first %} SELECTED{% endif %}>{{ nspz or ""}} </option>
              {% endfor %}
              <option selected>{{ NSPZ }}</option>
            </select>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button type="submit" class="btn btn-primary" name="btn" value="UpdRegimeWork">Сохранить</button>
      </div>

    </div>
  </div>
</div>
 {% endfor %}
</form>

{#ОКНО ДЛЯ ДОБАВЛЕНИЯ ИНФОРМАЦИИ ОБ ОТСУТСТВИИ СОТРУДНИКА#}
<form method="post">
{#{% for iblc, DTN, DTK, NRSN_ in result_rsp_blc %}#}
 <div class="modal fade" id="InsRspBlcModal" tabindex="-1" role="dialog" aria-labelledby="InsRspBlcModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Сведения об отсутствии сотрудника</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
       <div class="modal-body">
        <form>
          <div class="mb-3">
            <label class="col-form-label">Дата с:</label>
            <input type="date" class="form-control" name="InsDtn" required>
          </div>

          <div class="mb-3">
            <label  class="col-form-label">по:</label>
            <input type="date" class="form-control" name="InsDtk" required>
          </div>

          <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelectInsRsn" >Причина:</label>
            <select class="form-select" id="inputGroupSelectInsRsn" name="InsRsn" required>
              {% for RSN, NRSN in result_rsn %}
                <option value="{{ RSN }}"{% if loop.first %} SELECTED{% endif %}>{{ NRSN or "" }} </option>
              {% endfor %}
            </select>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button type="submit" class="btn btn-primary" name="btn" value="InsRspBlc">Сохранить</button>
      </div>
    </div>
  </div>
</div>
</form>
{#ОКНО ДЛЯ РЕДАКТИРОВАНИИ ИНФОРМАЦИИ ОБ ОТСУТСТВИИ СОТРУДНИКА#}
<form method="post">
{% for iblc, DTN, DTK, NRSN_ in result_rsp_blc %}
 <div class="modal fade" id="RspBlcModal{{ iblc }}" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Сведения об отсутствии сотрудника</h5>
        <input type="text" name="UpdIblc" value="{{ iblc }}" class="col-form-label" style="display: none;">
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
       <div class="modal-body">
        <form>
          <div class="mb-3">
            <label class="col-form-label">Дата с:</label>
            <input type="date" class="form-control" value={{ DTN }} name="UpdDtn" required>
          </div>

          <div class="mb-3">
            <label class="col-form-label">по:</label>
            <input type="date" class="form-control" value={{ DTK }} name="UpdDtk" required>
          </div>

          <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelectUpdRsn" >Причина:</label>
            <select class="form-select" id="inputGroupSelectUpdRsn" name="UpdRsn" value={{ RSN }} required>
              {% for RSN, NRSN in result_rsn %}
                <option value="{{ RSN }}" {% if loop.first %} SELECTED{% endif %}>{{ NRSN or ""}} </option>
              {% endfor %}
              <option selected>{{ NRSN_ }} </option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button type="submit" class="btn btn-primary" name="btn" value="UpdRspBlc">Сохранить</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
</form>
{#ОКНО ДЛЯ УДАЛЕНИЯ ИНФОРМАЦИИ ОБ ОТСУТСТВИИ СОТРУДНИКА#}
<form method="post">
{% for iblc, DTN, DTK, NRSN_ in result_rsp_blc %}
<div class="modal fade" id="DelRspBlcModal{{ iblc }}" tabindex="0">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" data-backdrop="static" data-keyboard="false">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Удаление информации</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>УДАЛИТЬ ИНФОРМАЦИЮ ОБ ОТСУТСТВИИ СОТРУДНИКА?</p>
          <input type="text" name="DelIblc" value="{{ iblc }}" class="col-form-label" style="display: none;">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button type="submit" class="btn btn-primary" name="btn" value="DelRspBlc">Удалить</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
</form>
{#ОКНО ДЛЯ ДОБАВЛЕНИЯ ИНФОРМАЦИИ О ДЕЖУРСТВАХ СОТРУДНИКА#}
<form method="post">
 <div class="modal fade" id="InsRspDutyModal"  tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Сведения о работе сотрудника в выходные дни и дежурстве</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
       <div class="modal-body">
        <form>
          <div class="mb-3">
            <label class="col-form-label">Дата:</label>
            <input type="date" class="form-control" name="InsDtnDuty" required>
          </div>

          <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelectInsTimeDuty" >Время:</label>
            <select class="form-select" id="inputGroupSelectInsTimeDuty" name="InsTimeDuty" required>
              {% for ID, INTEVAL_TIME in result_time %}
                <option value="{{ ID }}"{% if loop.first %} SELECTED{% endif %}>{{ INTEVAL_TIME or ""}} </option>
              {% endfor %}
            </select>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button type="submit" class="btn btn-primary" name="btn" value="InsDuty">Сохранить</button>
      </div>
    </div>
  </div>
</div>
</form>
{#ОКНО ДЛЯ РЕДАКТИРОВАНИЯ ИНФОРМАЦИИ О ДЕЖУРСТВАХ СОТРУДНИКА#}
<form method="post">
{% for ID,DATE_DUTY,TIME_DUTY,denNedeli in result_duty %}
 <div class="modal fade" id="UpdRspDutyModal{{ ID }}"  tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" data-backdrop="static" data-keyboard="false">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Сведения о работе сотрудника в выходные дни и дежурстве</h5>
         <input type="text" name="UpdId" value="{{ ID }}" class="col-form-label" style="display: none;">
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
       <div class="modal-body">
        <form>
          <div class="mb-3">
            <label class="col-form-label">Дата:</label>
            <input type="date" class="form-control" name="UpdDtnDuty"  value={{ DATE_DUTY }} required>
          </div>

          <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelectUpdTimeDuty" >Время:</label>
            <select class="form-select" id="inputGroupSelectUpdTimeDuty" name="UpdTimeDuty" value={{ ID }} required>
              {% for ID, INTEVAL_TIME in result_time %}
                <option value="{{ ID }}"{% if loop.first %} SELECTED{% endif %}>{{ INTEVAL_TIME or ""}} </option>
              {% endfor %}
              <option selected>{{ TIME_DUTY }}</option>
            </select>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button type="submit" class="btn btn-primary" name="btn" value="UpdDuty">Сохранить</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
</form>
{#ОКНО ДЛЯ УДАЛЕНИЯ ИНФОРМАЦИИ О ДЕЖУРСТВАХ СОТРУДНИКА#}
<form method="post">
{% for ID,DATE_DUTY,TIME_DUTY,denNedeli in result_duty %}
<div class="modal fade" id="DelRspDutyModal{{ ID }}" tabindex="0">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Удаление информации</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>УДАЛИТЬ ИНФОРМАЦИЮ О РАБОТЕ СОТРУДНИКА?</p>
          <input type="text" name="DelIdDuty" value="{{ ID }}" class="col-form-label" style="display: none;">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button type="submit" class="btn btn-primary" name="btn" value="DelDuty">Удалить</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
</form>

<div class="container">
    <h2>График работы сотрудника {{ fioSotrudnika }}</h2>
     <form class="form-horizontal" method="POST" action="">
                {{ form.csrf_token() }}

     <div> Режим работы сотрудника
         <button type="button" class="btn btn-outline-secondary" data-toggle="modal" title="Добавить запись" data-target="#RegimeWorkModal">
         <i class="bi bi-calendar-plus"></i>
         </button>

          <button type="button" class="btn btn-outline-secondary" data-toggle="modal" title="Удалить запись" data-target="#InsRspDutyModal">
                    <i class="bi bi-trash"></i>
                </button>
     </div>
     <table class="table caption-top table table-striped table table-bordered">
         <thead>
         <th>№ кабинета</th>
         <th>Нечетное</th>
         <th>Четное</th>
         <th>№ монитора</th>
         <th>№ страницы</th>
         <th>Специальность</th>
         </thead>
         <tr>
         {% for NROOM_KR , NOEVEN_DAY, EVEN_DAY, NTV, NLIST, NSPZ in result_rasp %}
            <tr>
                <td>{{ NROOM_KR }}</td>
                <td>{{ NOEVEN_DAY or "" }}</td>
                <td>{{ EVEN_DAY or ""}}</td>
                <td>{{ NTV }}</td>
                <td>{{ NLIST }}</td>
                <td>{{ NSPZ or ""}}</td>
                <td style="width:12%;text-align:center;">
                    <button type="button" class="btn btn-outline-secondary" data-toggle="modal"  title="Редактировать запись" data-target="#RegimeWorkModal">
                    <i class="bi bi-pencil"></i>
                </button>

                <button type="button" class="btn btn-outline-secondary" data-toggle="modal" title="Удалить запись" data-target="#DelRspBlcModal">
                    <i class="bi bi-trash"></i>
                </button>
                </td>
            </tr>
         {% endfor %}
     </table>

     <div> Отстуствие на рабочем месте
         <button type="button" class="btn btn-outline-secondary" data-toggle="modal" title="Добавить запись" data-target="#InsRspBlcModal">
         <i class="bi bi-calendar-plus"></i>
         </button>
     </div>
     <table class="table caption-top table table-striped table table-bordered" >
         <thead>
         <th>Дата с</th>
         <th>по</th>
         <th>Причина</th>
         </thead>
         <tr>
         {% for iblc, DTN, DTK, NRSN_ in result_rsp_blc %}
            <tr>
                <td>{{ DTN.strftime('%d.%m.%Y') or "" }} </td>
                <td>{{ DTK.strftime('%d.%m.%Y') or ""}} </td>
                <td>{{ NRSN_ or ""}}</td>
                <td style="width:12%;text-align:center;">
                    <button type="button" class="btn btn-outline-secondary" data-toggle="modal"  title="Редактировать запись" data-target="#RspBlcModal{{ iblc }}">
                       <i class="bi bi-pencil"></i>
                    </button>
                    <button type="button" class="btn btn-outline-secondary" data-toggle="modal" title="Удалить запись" data-target="#DelRspBlcModal{{ iblc }}">
                      <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>
         {% endfor %}
     </table>

     <div>Работа в праздничные и выходные дни, дежурство по графику
        <button type="button" class="btn btn-outline-secondary" data-toggle="modal" title="Добавить запись" data-target="#InsRspDutyModal">
          <i class="bi bi-calendar-plus"></i>
        </button>
     </div>
     <table class="table caption-top table table-striped table table-bordered">
         <thead>
         <th>Дата</th>
         <th>Время</th>
         <th>День недели</th>

         </thead>
         <tr>
         {% for ID, DATE_DUTY, TIME_DUTY, denNedeli in result_duty %}
            <tr>
                <td>{{ DATE_DUTY.strftime('%d.%m.%Y') or "" }}</td>
                <td>{{ TIME_DUTY or "" }}</td>
                <td>{{ denNedeli or ""}}</td>
                <td style="width:12%;text-align:center;"> <button type="button" class="btn btn-outline-secondary" data-toggle="modal"  title="Редактировать запись" data-target="#UpdRspDutyModal{{ ID }}">
                    <i class="bi bi-pencil"></i>
                </button>

                <button type="button" class="btn btn-outline-secondary" data-toggle="modal" title="Удалить запись" data-target="#DelRspDutyModal{{ ID }}">
                    <i class="bi bi-trash"></i>
                </button>
                </td>
            </tr>
         {% endfor %}
     </table>
    </form>
</div>
{#</body>#}
{#</html>#}

<script>

    function myFunction() {
       alert("  ") //document.querySelectorAll("input[type=submit]")[0].click();
    }

var datepicker = new Datepicker("#datepicker");
var datepicker2 = new Datepicker('#datepicker2');

var myModal = document.getElementById('myModal')
var myInput = document.getElementById('myInput')

myModal.addEventListener('shown.bs.modal', function () {
  myInput.focus()
})

</script>
{% endblock %}