<!DOCTYPE html>
<html lang="en">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='datepicker.material.css') }}">
<script src="{{ url_for('static', filename='datepicker.js') }}"></script>


<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">


    <h2>Внесение дежурства и выходных</h2>
    {% for field, errors in form.errors.items() %}
    {{ ', '.join(errors) }}
    {% endfor %}

    <form class="form-horizontal" method="POST" action="">
                {{ form.csrf_token() }}
    <select name="ndoc" class="form-select" aria-label="Default select example" disabled>
{% for DOC, NDOC in result_fio %}
<option value="{{ DOC }}"{% if loop.first %} SELECTED{% endif %}>{{ NDOC }}</option>
{% endfor %}
</select>

      <table>
            <tr>
            <td>

	    <label for="datepicker" class="form-label">Дата начала</label>
        <input type="text" id="datepicker" name="dtn" autocomplete="off">

                </td>
                <td>

	    <label for="datepicker2" class="form-label">Окончание</label>
        <input type="text" id="datepicker2" name="dtk" autocomplete="off">
                </td>
            </tr>
            </table>

        <div class="form-group">
            {{ form.submit(class="btn btn-primary")}}
        </div>
    </form>
</div>
</body>
</html>

<script>

var datepicker = new Datepicker("#datepicker");
var datepicker2 = new Datepicker('#datepicker2');
</script>
