<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='js/htmx.js') }}"></script>
    <script src="{{ url_for('static', filename='js/htmx.min.js') }}"></script>
    {{ menu|safe  }}
  </head>
{% block content %}

    <title>Отчет по отсутствующим</title>
</head>

<body>

    <form method=post>
        
      <p><input type=submit value=Register></p>
    </form>
</body>


{% endblock %}
