<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='js/htmx.js') }}"></script>
    <script src="{{ url_for('static', filename='js/htmx.min.js') }}"></script>
    {{ menu|safe  }}
  </head>
{% block content %}

<div class="container">
  <h4 class="text-primary">График учета рабочего времени</h4>
  <form class="form-horizontal" method="POST">
    <div class="row">
      <div class="col-md-auto">
        <label for="year_" class="form-label">Год</label>
        <input type="number" id="year_" name="year" min=2020 max=3000 value={{ year }} step=1 required=true/>
      </div>
      <div>
       <label for="month_" class="form-label">Месяц</label>
       <input type="number" id="month_" name="month" min=1 max=31 value={{ month }} step=1 required=true/>
      </div>
      <label for="otd" class="form-label">Отделение</label>
      <select hx-get="grf_NewWork"  hx-target="#NewWork" hx-swap="innerHTML"  name="otd" class="form-select" aria-label="Default select example">
        {% for OTD, NOTD, LPU in result_otd %}
          <option value="{{ OTD }}"{% if loop.first %} SELECTED {% endif %}>{{ NOTD }}</option>
        {% endfor %}
        <option value = {{ OTD }} selected>{{ NOTD }}</option>
      </select> 
    </div>  
    
    <div class="form-group">
      <button type="button submit" name="btn" value="selectNew" class="btn btn-primary">Сформировать</button>
    </div>

    <div id="NewWork" class="form-group">
      <button 
      hx-get="grf_addWorker?otd={{ NOTD }}" 
      hx-target="#modals-here" 
      hx-trigger="click"
      class="btn btn-primary btn-block" >Добавить сотрудника</button>
      </div>

   </form>
  </div>
  
  <div id="modals-here"></div>

<table class="table-bordered border-primary table-hover" style="max-width:100%; cellpadding: 0.9rem;" id="myTable">
    <thead> 
        <th>ФИО Сотрудника</th>
        <th>Специалист</th>
        <th>№ кабинета</th>
        {% for value in result_th.items() %}
          <th class={{ value[1][0] }}> {{ value[1][1] }} </th>
        {% endfor %}
    </thead>

    <tbody style="font-size:small;">
    {% for value in table_view_all.items() %}
    <tr>
       <td class={{ value[1][12] }}> {{ value[1][13] }} </td> 
       <td class={{ value[1][10] }}> {{ value[1][11] }} </td>
       <td class={{ value[1][6] }}> {{ value[1][7] }} </td> 
       <td class={{ value[1][14] }}>
        <form id="td01{{ value[1][1] }}">
          <div hx-target="#td01{{ value[1][1] }}" hx-swap="innerHTML" hx-get="table_view/edit?id_grf={{ value[1][1] }}&id_td=td01{{ value[1][1] }}">{{ value[1][15] or "нет приема"}} </div>
        </form>
       </td> 
       <td class={{ value[1][16] }}>         
        <form id="td02{{ value[1][1] }}">
          <div hx-target="#td02{{ value[1][1] }}" hx-swap="innerHTML" hx-get="table_view/edit?id_grf={{ value[1][1] }}&id_td=td02{{ value[1][1] }}">{{ value[1][17] or "нет приема"}} </div>
        </form>
      </td>
       <td class={{ value[1][18] }}> 
        <form id="td03{{ value[1][1] }}">
          <div hx-target="#td03{{ value[1][1] }}" hx-swap="innerHTML" hx-get="table_view/edit?id_grf={{ value[1][1] }}&id_td=td03{{ value[1][1] }}">{{ value[1][19] or "нет приема"}} </div>
        </form>
       </td> 
       <td class={{ value[1][20] }}>
        <form id="td04{{ value[1][1] }}">
          <div hx-target="#td04{{ value[1][1] }}" hx-swap="innerHTML" hx-get="table_view/edit?id_grf={{ value[1][1] }}&id_td=td04{{ value[1][1] }}">{{ value[1][21] or "нет приема"}} </div>
        </form>
       </td> 
       <td class={{ value[1][22] }}> 
        <form id="td05{{ value[1][1] }}">
          <div hx-target="#td05{{ value[1][1] }}" hx-swap="innerHTML" hx-get="table_view/edit?id_grf={{ value[1][1] }}&id_td=td05{{ value[1][1] }}">{{ value[1][23] or "нет приема"}} </div>
        </form>
       </td> 
       <td class={{ value[1][24] }}> 
        <form id="td06{{ value[1][1] }}">
          <div hx-target="#td06{{ value[1][1] }}" hx-swap="innerHTML" hx-get="table_view/edit?id_grf={{ value[1][1] }}&id_td=td06{{ value[1][1] }}">{{ value[1][25] or "нет приема"}} </div>
        </form>
       </td>
       <td class={{ value[1][26] }}> 
        <form id="td07{{ value[1][1] }}">
          <div hx-target="#td07{{ value[1][1] }}" hx-swap="innerHTML" hx-get="table_view/edit?id_grf={{ value[1][1] }}&id_td=td07{{ value[1][1] }}">{{ value[1][27] or "нет приема"}} </div>
        </form>
       </td>
       <td class={{ value[1][28] }}>
        <form id="td08{{ value[1][1] }}">
          <div hx-target="#td08{{ value[1][1] }}" hx-swap="innerHTML" hx-get="table_view/edit?id_grf={{ value[1][1] }}&id_td=td08{{ value[1][1] }}">{{ value[1][29] or "нет приема"}} </div>
        </form>
       </td>
       <td class={{ value[1][30] }}>
        <form id="td09{{ value[1][1] }}">
          <div hx-target="#td09{{ value[1][1] }}" hx-swap="innerHTML" hx-get="table_view/edit?id_grf={{ value[1][1] }}&id_td=td09{{ value[1][1] }}">{{ value[1][31] or "нет приема"}} </div>
        </form>
       </td>
       <td class={{ value[1][32] }}> 
        <form id="td10{{ value[1][1] }}">
          <div hx-target="#td10{{ value[1][1] }}" hx-swap="innerHTML" hx-get="table_view/edit?id_grf={{ value[1][1] }}&id_td=td10{{ value[1][1] }}">{{ value[1][33] or "нет приема"}} </div>
        </form>
       </td> 
       <td class={{ value[1][34] }}>  
        <form id="td11{{ value[1][1] }}">
          <div hx-target="#td11{{ value[1][1] }}" hx-swap="innerHTML" hx-get="table_view/edit?id_grf={{ value[1][1] }}&id_td=td11{{ value[1][1] }}">{{ value[1][35] or "нет приема"}} </div>
        </form>
       </td> 
       <td class={{ value[1][36] }}> 
        <form id="td12{{ value[1][1] }}">
          <div hx-target="#td12{{ value[1][1] }}" hx-swap="innerHTML" hx-get="table_view/edit?id_grf={{ value[1][1] }}&id_td=td12{{ value[1][1] }}">{{ value[1][37] or "нет приема"}} </div>
        </form>
       </td> 
       <td class={{ value[1][38] }}> 
        <form id="td13{{ value[1][1] }}">
          <div hx-target="#td13{{ value[1][1] }}" hx-swap="innerHTML" hx-get="table_view/edit?id_grf={{ value[1][1] }}&id_td=td13{{ value[1][1] }}">{{ value[1][39] or "нет приема"}} </div>
        </form>
       </td> 
       <td class={{ value[1][40] }}>
        <form id="td14{{ value[1][1] }}">
          <div hx-target="#td14{{ value[1][1] }}" hx-swap="innerHTML" hx-get="table_view/edit?id_grf={{ value[1][1] }}&id_td=td14{{ value[1][1] }}">{{ value[1][41] or "нет приема"}} </div>
        </form>
       </td> 
       <td class={{ value[1][42] }}> 
        <form id="td15{{ value[1][1] }}">
          <div hx-target="#td15{{ value[1][1] }}" hx-swap="innerHTML" hx-get="table_view/edit?id_grf={{ value[1][1] }}&id_td=td15{{ value[1][1] }}">{{ value[1][43] or "нет приема"}} </div>
        </form>
       </td>
       <td class={{ value[1][44] }}> 
        <form id="td16{{ value[1][1] }}">
          <div hx-target="#td16{{ value[1][1] }}" hx-swap="innerHTML" hx-get="table_view/edit?id_grf={{ value[1][1] }}&id_td=td16{{ value[1][1] }}">{{ value[1][45] or "нет приема"}} </div>
        </form>
       </td>
       <td class={{ value[1][46] }}> 
        <form id="td17{{ value[1][1] }}">
          <div hx-target="#td17{{ value[1][1] }}" hx-swap="innerHTML" hx-get="table_view/edit?id_grf={{ value[1][1] }}&id_td=td17{{ value[1][1] }}">{{ value[1][47] or "нет приема"}} </div>
        </form>
       </td>
       <td class={{ value[1][48] }}> 
        <form id="td18{{ value[1][1] }}">
          <div hx-target="#td81{{ value[1][1] }}" hx-swap="innerHTML" hx-get="table_view/edit?id_grf={{ value[1][1] }}&id_td=td18{{ value[1][1] }}">{{ value[1][49] or "нет приема"}} </div>
        </form>
       </td>
       <td class={{ value[1][50] }}> 
        <form id="td19{{ value[1][1] }}">
          <div hx-target="#td19{{ value[1][1] }}" hx-swap="innerHTML" hx-get="table_view/edit?id_grf={{ value[1][1] }}&id_td=td19{{ value[1][1] }}">{{ value[1][51] or "нет приема"}} </div>
        </form>
       </td> 
       <td class={{ value[1][52] }}>
        <form id="td20{{ value[1][1] }}">
          <div hx-target="#td20{{ value[1][1] }}" hx-swap="innerHTML" hx-get="table_view/edit?id_grf={{ value[1][1] }}&id_td=td20{{ value[1][1] }}">{{ value[1][53] or "нет приема"}} </div>
        </form>
       </td> 
       <td class={{ value[1][54] }}>
        <form id="td21{{ value[1][1] }}">
          <div hx-target="#td21{{ value[1][1] }}" hx-swap="innerHTML" hx-get="table_view/edit?id_grf={{ value[1][1] }}&id_td=td21{{ value[1][1] }}">{{ value[1][55] or "нет приема"}} </div>
        </form>
       </td> 
       <td class={{ value[1][56] }}>
        <form id="td22{{ value[1][1] }}">
          <div hx-target="#td22{{ value[1][1] }}" hx-swap="innerHTML" hx-get="table_view/edit?id_grf={{ value[1][1] }}&id_td=td22{{ value[1][1] }}">{{ value[1][57] or "нет приема"}} </div>
        </form>
       </td> 
       <td class={{ value[1][58] }}> 
        <form id="td23{{ value[1][1] }}">
          <div hx-target="#td23{{ value[1][1] }}" hx-swap="innerHTML" hx-get="table_view/edit?id_grf={{ value[1][1] }}&id_td=td23{{ value[1][1] }}">{{ value[1][59] or "нет приема"}} </div>
        </form>
       </td> 
       <td class={{ value[1][60] }}> 
        <form id="td24{{ value[1][1] }}">
          <div hx-target="#td24{{ value[1][1] }}" hx-swap="innerHTML" hx-get="table_view/edit?id_grf={{ value[1][1] }}&id_td=td24{{ value[1][1] }}">{{ value[1][61] or "нет приема"}} </div>
        </form>
       </td>
       <td class={{ value[1][62] }}> 
        <form id="td25{{ value[1][1] }}">
          <div hx-target="#td25{{ value[1][1] }}" hx-swap="innerHTML" hx-get="table_view/edit?id_grf={{ value[1][1] }}&id_td=td25{{ value[1][1] }}">{{ value[1][63] or "нет приема"}} </div>
        </form>
       </td>
       <td class={{ value[1][64] }}> 
        <form id="td26{{ value[1][1] }}">
          <div hx-target="#td26{{ value[1][1] }}" hx-swap="innerHTML" hx-get="table_view/edit?id_grf={{ value[1][1] }}&id_td=td26{{ value[1][1] }}">{{ value[1][65] or "нет приема"}} </div>
        </form>
       </td>
       <td class={{ value[1][66] }}> 
        <form id="td27{{ value[1][1] }}">
          <div hx-target="#td27{{ value[1][1] }}" hx-swap="innerHTML" hx-get="table_view/edit?id_grf={{ value[1][1] }}&id_td=td27{{ value[1][1] }}">{{ value[1][67] or "нет приема"}} </div>
        </form>
       </td>
       <td class={{ value[1][68] }}>  
        <form id="td28{{ value[1][1] }}">
          <div hx-target="#td28{{ value[1][1] }}" hx-swap="innerHTML" hx-get="table_view/edit?id_grf={{ value[1][1] }}&id_td=td28{{ value[1][1] }}">{{ value[1][69] or "нет приема"}} </div>
        </form>
       </td>
       <td class={{ value[1][70] }}>
        <form id="td29{{ value[1][1] }}">
          <div hx-target="#td29{{ value[1][1] }}" hx-swap="innerHTML" hx-get="table_view/edit?id_grf={{ value[1][1] }}&id_td=td29{{ value[1][1] }}">{{ value[1][71] or "нет приема"}} </div>
        </form>
       </td>
       <td class={{ value[1][72] }}>
        <form id="td30{{ value[1][1] }}">
          <div hx-target="#td30{{ value[1][1] }}" hx-swap="innerHTML" hx-get="table_view/edit?id_grf={{ value[1][1] }}&id_td=td30{{ value[1][1] }}">{{ value[1][73] or "нет приема"}} </div>
        </form>
       </td>
       <td class={{ value[1][74] }}> 
        <form id="td31{{ value[1][1] }}">
          <div hx-target="#td31{{ value[1][1] }}" hx-swap="innerHTML" hx-get="table_view/edit?id_grf={{ value[1][1] }}&id_td=td31{{ value[1][1] }}">{{ value[1][75] or "нет приема"}} </div>
        </form>
       </td>
    </tr>
    {% endfor %}
</tbody>

</table>

<script>

  function closeModal() {
    var container = document.getElementById("modals-here")
    var backdrop = document.getElementById("modal-backdrop")
    var modal = document.getElementById("modal")

    modal.classList.remove("show")
    backdrop.classList.remove("show")

    setTimeout(function() {
        container.removeChild(backdrop)
        container.removeChild(modal)
    }, 200)
  }
</script>

{% endblock %}

