<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap4-modal-fullscreen.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-select.min.css') }}">
    <script src="{{ url_for('static', filename='js/hyperscript_web.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/htmx.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-select.min.js') }}"></script>
    
    {{ menu|safe  }}
  </head>

<title>Вакцинация</title>

<body>
    <div id="place_for_modal">

    </div>



    <div id="load_select" hx-get="/vaccine/vaccine_select" hx-target="#load_select" hx-swap="outerHTML" hx-trigger="load">
        <img  alt="Загрузка данных..."  class="htmx-indicator mx-auto" width="150" src="/static/img/bars.svg"/>
    </div>

    <div id="load_table" hx-get="/vaccine/vaccine_table" hx-target="#load_table" hx-swap="outerHTML" hx-trigger="load">
        <img  alt="Загрузка данных..."  class="htmx-indicator mx-auto" width="150" src="/static/img/bars.svg"/>
    </div>
        
</body>

</html>