<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap4-modal-fullscreen.min.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='js/htmx.js') }}"></script>
    <script src="{{ url_for('static', filename='js/htmx.min.js') }}"></script>
    {{ menu|safe  }}
  </head>

<title>Вакцинация</title>

<body>
    <div id="fullscreen_modal_worker" class="modal fade modal-fullscreen">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
          </div>
      </div>
    </div>


    <div id="load_select" hx-get="/vaccine/vaccine_select" hx-target="#load_select" hx-swap="outerHTML" hx-trigger="load">
        <img  alt="Загрузка данных..."  class="htmx-indicator mx-auto" width="150" src="/static/img/bars.svg"/>
    </div>

    <div id="load_table" hx-get="/vaccine/vaccine_table" hx-target="#load_table" hx-swap="outerHTML" hx-trigger="load">
        <img  alt="Загрузка данных..."  class="htmx-indicator mx-auto" width="150" src="/static/img/bars.svg"/>
    </div>
        
</body>

</html>