<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='js/htmx.js') }}"></script>
    <script src="{{ url_for('static', filename='js/htmx.min.js') }}"></script>
    {{ menu|safe  }}
  </head>
{% block content %}


<body>
    <form method="post">
        <button hx-get="/vaccine/load_from_fb" hx-swap="outerHTML" hx-target="#loading_from_firebird"  class="btn btn-primary" >Выгрузить сотрудников из Арены</button>
        <div id="loading_from_firebird" style="display:none;" hx-get="/" hx-trigger="load">
            <img src="{{ img }} alt="Данные загружаются..." class="htmx-indicator" width="150"">
          </div>
          <div id="loading_to_pg" style="display:none;" hx-get="/" hx-trigger="load">
            <img src="{{ img }} alt="Данные загружаются..." class="htmx-indicator" width="150"">
          </div>
    </form>
    <div>
        {{ list_of_workers }}
    </div>
</body>


{% endblock %}