<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='js/htmx.js') }}"></script>
    <script src="{{ url_for('static', filename='js/htmx.min.js') }}"></script>
    {{ menu|safe  }}
  </head>
{% block content %}


    <meta charset="UTF-8">
    <title>Отчет по отсутствующим</title>
</head>

<body>
    

        <table class="table table-borderless">
            
            <tr>
                
                <td style = "width:80%;">
                    
                    <table class="table" style="border: none">
                        
                        <tbody>
                            {% for idkv, nkv, dou, stu, dzr, nopl, uid, fam, im, ot, dr, nmpp, nteh, nom_teh, nlit, nom_lit, 
                                npolir, nom_pol, nvarh, nom_var,nlpu in zn_naryad_list %}
                            <tr style = "line-height: 15px; min-height: 15px; height: 15px; border: none">
                                <td><span class="font-weight-bold"><u>Номер наряда:</u></span> {{nkv}}</td> 
                                <td> 
                                    <span class="font-weight-bold">Статус: </span>  
                                    <span class="{{'text-danger' if dzr != None else 'text-success'}}"> {{'Закрыт' if dzr != None else 'Открыт'}}</span>
                                </td> 
                                <td><span class="font-weight-bold">Вид оплаты:</span> {{nopl}}</td>                                
                            </tr>        
                   
                            <tr style = "line-height: 15px; min-height: 15px; height: 15px;">
                                <td><span class="font-weight-bold">Дата оформления:</span> {% if dou != None %} {{ dou.strftime('%d.%m.%Y') }} {% else %} {{ dou or "" }} {%endif %}</td>
                                <td><span class="font-weight-bold">Дата закрытия:</span> {% if dzr != None %} {{ dzr.strftime('%d.%m.%Y') }} {% else %} {{ dzr or "" }} {%endif %}</td>
                                <td><span class="font-weight-bold">Полная стоимость:</span> {{stu}}</td>
                            </tr>
                            <tr style = "line-height: 15px; min-height: 15px; height: 15px;">
                                <td><hr/></td><td><hr/></td><td><hr/></td>
                            </tr>
                            <tr style = "line-height: 15px; min-height: 15px; height: 15px;">
                                <td><span class="font-weight-bold"><u>Исполнители</u></span></td>
                            </tr>
                            <tr style = "line-height: 15px; min-height: 15px; height: 15px;">
                                <td><span class="font-weight-bold">Техник:</span> {{nteh or 'Не назначен'}}</td> 
                                <td><span class="font-weight-bold">Врач:</span> {{nmpp or 'Не назначен'}}</td>
                            </tr>
                            <tr style = "line-height: 15px; min-height: 15px; height: 15px;">
                                <td><span class="font-weight-bold">Литейщик:</span> {{nlit or 'Не назначен'}}</td> 
                                <td><span class="font-weight-bold">Полировщик:</span> {{npolir or 'Не назначен'}}</td> 
                                <td><span class="font-weight-bold">Варщик:</span> {{nvarh or 'Не назначен'}}</td>
                            </tr>
                            <tr style = "line-height: 15px; min-height: 15px; height: 15px;">
                                <td><hr/></td><td><hr/></td><td><hr/></td>
                            </tr>
                            <tr style = "line-height: 15px; min-height: 15px; height: 15px;">
                                <td><span class="font-weight-bold"><u>Пациент</u></span></td>
                            </tr>
                            <tr style = "line-height: 15px; min-height: 15px; height: 15px;">
                                <td><span class="font-weight-bold">№ карты:</span> {{uid}}</td> 
                                <td><span class="font-weight-bold">ФИО:</span> {{ fam or '' }} {{ im or '' }} {{ ot or '' }}</td> 
                                <td><span class="font-weight-bold">Дата рождения:</span> {% if dr != None %} {{ dr.strftime('%d.%m.%Y') }} {% else %} {{ dr or "" }} {%endif %}</td>
                            </tr>
                            
                        </tbody>
                    </table>
                    
                </td>

                <td style="text-align: center;">
                    <div style="width:50%; margin: 0 auto;">
                        <br/> <br/>
                        <button 
                            hx-get="zn_modal_edit?idkv={{idkv}}&nom_teh={{nom_teh}}&nom_lit={{nom_lit}}&nom_pol={{nom_pol}}&nom_var={{nom_var}}&dzr={{dzr}}" 
                            hx-target="#modals-here" 
                            hx-trigger="click"
                            class="btn btn-primary btn-block" {{'disabled' if dzr != None else ''}}
                            _="on htmx:afterOnLoad wait 10ms then add .show to #modal then add .show to #modal-backdrop">Изменить
                        </button>
                        <br/>
                        <button 
                            hx-get="zn_modal_close?idkv={{idkv}}&nkv={{nkv}}" 
                            hx-target="#modals-here1" 
                            hx-trigger="click"
                            class="btn btn-primary btn-block" {{'disabled' if dzr != None else ''}}
                            _="on htmx:afterOnLoad wait 10ms then add .show to #modal then add .show to #modal-backdrop">Закрыть наряд
                        </button>
                        <br/>
                        <br/>
                        <br/>
                        <a href="{{ub}}"><button class="btn btn-primary btn-block">Назад</button></a>
                    </div>
                </td>                 
        </table>
        <div id="modals-here"></div>
        <div id="modals-here1"></div> 
        {% endfor %}
    
    <table id="Table_usl" class="table table-striped">
        <thead>
            <tr style = "line-height: 15px; min-height: 15px; height: 15px;">
                <th style="text-align: center;">Код услуги</th>
                <th style="text-align: center;">Наименование</th>
                <th style="text-align: center;">Цена</th>
                <th style="text-align: center;">Количество</th>
                <th style="text-align: center;">Сумма</th>
            </tr>

            <tr>
                <th style="width:10%;">         
                    <input name="otd_filter" list="datalistOptions" class="form-control" id="idSerch0" placeholder="Поиск" autocomplete="off">         
                </th>
                <th style="width:60%;">         
                    <input name="otd_filter" list="datalistOptions" class="form-control" id="idSerch1" placeholder="Поиск" autocomplete="off">         
                </th>
                <th style="width:10%;">
                    <input name="reason_filter" list="datalistOptions" class="form-control" id="idSerch2" placeholder="Поиск" autocomplete="off">
                </th>
                <th style="width:10%;">
                    <input name="reason_filter" list="datalistOptions" class="form-control" id="idSerch3" placeholder="Поиск" autocomplete="off">
                </th>
                <th style="width:10%;">
                    <input name="reason_filter" list="datalistOptions" class="form-control" id="idSerch4" placeholder="Поиск" autocomplete="off"> 
                </th>
            </tr>

        </thead>

        <tbody>
            {% for usl, kusl, nusl, price, kol, stu in result_usl %}            
            <tr style = "line-height: 15px; min-height: 15px; height: 15px;">
                <td style="text-align: center;">{{ kusl or '' }}</td>
                <td>{{ nusl or '' }}</td>
                <td style="text-align: center;">{{ price or '' }}</td>
                <td style="text-align: center;">{{ kol or '' }}</td>
                <td style="text-align: center;">{{ stu or '' }}</td> 
            </tr>
            {% endfor %}    
        </tbody>
        <tfoot>
            <tr style = "line-height: 15px; min-height: 15px; height: 15px;">
                <th style="text-align: center;">Код услуги</th>
                <th style="text-align: center;">Наименование</th>
                <th style="text-align: center;">Цена</th>
                <th style="text-align: center;">Количество</th>
                <th style="text-align: center;">Сумма</th>
            </tr>
        </tfoot>
                   
    </table>
</body>

<script>

    function filterTable0(event) {
        var filter = event.target.value.toUpperCase();
        var rows = document.querySelector("#Table_usl tbody").rows;

        for (var i = 0; i < rows.length; i++) {
            var firstCol = rows[i].cells[0].textContent.toUpperCase();
            if (firstCol.indexOf(filter) > -1) {
                rows[i].style.display = "";
            } else {
                rows[i].style.display = "none";
            }
        }
    }

    document.querySelector('#idSerch0').addEventListener('keyup', filterTable0, false);


    function filterTable1(event) {
        var filter = event.target.value.toUpperCase();
        var rows = document.querySelector("#Table_usl tbody").rows;

        for (var i = 0; i < rows.length; i++) {
            var secondCol = rows[i].cells[1].textContent.toUpperCase();
            if (secondCol.indexOf(filter) > -1) {
                rows[i].style.display = "";
            } else {
                rows[i].style.display = "none";
            }
        }
    }

    document.querySelector('#idSerch1').addEventListener('keyup', filterTable1, false);

    function filterTable2(event) {
        var filter = event.target.value.toUpperCase();
        var rows = document.querySelector("#Table_usl tbody").rows;

        for (var i = 0; i < rows.length; i++) {
            var secondCol = rows[i].cells[2].textContent.toUpperCase();
            if (secondCol.indexOf(filter) > -1) {
                rows[i].style.display = "";
            } else {
                rows[i].style.display = "none";
            }
        }
    }

    document.querySelector('#idSerch2').addEventListener('keyup', filterTable2, false);

    function filterTable3(event) {
        var filter = event.target.value.toUpperCase();
        var rows = document.querySelector("#Table_usl tbody").rows;

        for (var i = 0; i < rows.length; i++) {
            var secondCol = rows[i].cells[3].textContent.toUpperCase();
            if (secondCol.indexOf(filter) > -1) {
                rows[i].style.display = "";
            } else {
                rows[i].style.display = "none";
            }
        }
    }

    document.querySelector('#idSerch3').addEventListener('keyup', filterTable3, false);


    function filterTable4(event) {
        var filter = event.target.value.toUpperCase();
        var rows = document.querySelector("#Table_usl tbody").rows;

        for (var i = 0; i < rows.length; i++) {
            var secondCol = rows[i].cells[4].textContent.toUpperCase();
            if (secondCol.indexOf(filter) > -1) {
                rows[i].style.display = "";
            } else {
                rows[i].style.display = "none";
            }
        }
    }

    document.querySelector('#idSerch4').addEventListener('keyup', filterTable4, false);

    function closeModal() {
        var container = document.getElementById("modals-here")
        var backdrop = document.getElementById("modal-backdrop")
        var modal = document.getElementById("modal")
    
        modal.classList.remove("show")
        backdrop.classList.remove("show")
    
        setTimeout(function() {
            container.removeChild(backdrop)
            container.removeChild(modal)
            window.location = 'zn_naryad?idkv={{idkv}}'
        }, 200)
    }

    function closeModal1() {
        var container = document.getElementById("modals-here1")
        var backdrop = document.getElementById("modal-backdrop1")
        var modal = document.getElementById("modal1")
    
        modal.classList.remove("show")
        backdrop.classList.remove("show")
    
        setTimeout(function() {
            container.removeChild(backdrop)
            container.removeChild(modal)
            window.location = 'zn_naryad?idkv={{idkv}}'
        }, 200)
    }

    
    
     
</script>
 
{% endblock %}